.search-form-container {
  margin-top: 15%;
}

.omnibar {
  margin-bottom: 5rem;
}

.rocket-launch {
  font-size: 12rem;
  text-shadow: 0px 7px 15px rgba(0,0,0,0.25);
}

.chevron-top {
  background-image: url(/assets/chevron-top.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 18rem;
}

.chevron-bottom {
  background-image: url(/assets/chevron-bottom.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 18rem;
}

.feature p,
.feature li {
  font-size: 120%;
}

.browser-icon {
  font-size: 8rem;
  line-height: 1;
}

.popover {
  box-shadow:
    0px 4px 15px 1px rgba(0,0,0,0.05),
    0px 3px 6px 1px rgba(0,0,0,0.10);
}

.popover {
  font-size: 1.1rem;
  text-align: center;
}

.btn {
  text-transform: uppercase;
}

.btn.btn-link {
  text-decoration: none;
}

pre {
  tab-size: 2;
}

code {
  white-space: pre;
}

.modal-xl {
  max-width: 90%;
}

.rounded {
  border-radius: 0.3em !important;
}

/* Shadows - from getmdl.io */
.focus-shadow {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

.shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.shadow-3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
              0 3px 3px -2px rgba(0, 0, 0, 0.2),
              0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.shadow-6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.shadow-8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.shadow-16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
              0  6px 30px 5px rgba(0, 0, 0, 0.12),
              0  8px 10px -5px rgba(0, 0, 0, 0.2);
}

.shadow-24dp {
  box-shadow: 0  9px 46px  8px rgba(0, 0, 0, 0.14),
              0 11px 15px -7px rgba(0, 0, 0, 0.12),
              0 24px 38px  3px rgba(0, 0, 0, 0.2);
}
