@import "~bootswatch/dist/flatly/variables";

.dropdown-menu {
  @extend .shadow-16dp;
}

.search-form-container {
  margin-top: 15%;
}

.more-wrapper {
  font-size: 600%;
  margin-top: 6rem;
  margin-bottom: -8rem;
}

.more {
  position: relative;
  animation: more 2s ease infinite;
}

@keyframes more {
  0% {
    opacity: 0;
    top: -5rem;
  }
  90% {
    opacity: 1;
    top: 5rem;
  }
  100% {
    opacity: 0;
    top: 5rem;
  }
}

.omnibar {
  margin-bottom: 5rem;
}

.rocket-launch {
  font-size: 12rem;
  text-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
}

.chevron-top {
  background-image: url(/assets/chevron-top.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 18rem;
}

.chevron-bottom {
  background-image: url(/assets/chevron-bottom.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 18rem;
}

.feature p,
.feature li {
  font-size: 120%;
}
.feature p,
.feature ul {
  &:last-of-type {
    margin-bottom: 0;
  }
}

.feature {
  $background-color-value: 248;

  $background-color: rgba(
    $background-color-value,
    $background-color-value,
    $background-color-value,
    0.9
  );

  $border-size: 100px;
  & .feature-content {
    background-color: $background-color;
    padding: 0px 15px;
  }
  & > div {
    &:before,
    &:after {
      display: block;
      content: "";
      width: 100%;
    }
  }
  &.feature-left > div {
    &:before {
      border-bottom: $border-size solid $background-color;
      border-right: $border-size solid transparent;
    }
    &:after {
      border-top: $border-size solid $background-color;
      border-left: $border-size solid transparent;
    }
  }
  &.feature-right > div {
    &:before {
      border-bottom: $border-size solid $background-color;
      border-left: $border-size solid transparent;
    }
    &:after {
      border-top: $border-size solid $background-color;
      border-right: $border-size solid transparent;
    }
  }
}
.browser-icon {
  font-size: 4rem;
  line-height: 1;
}
.popover {
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.05),
    0px 3px 6px 1px rgba(0, 0, 0, 0.1);
}
.popover {
  font-size: 1.1rem;
  text-align: center;
  max-width: 400px;
}
.btn {
  text-transform: uppercase;
}
.btn.btn-link {
  text-decoration: none;
}
pre {
  tab-size: 2;
}
code {
  white-space: pre;
}
.modal-xl {
  max-width: 90%;
}
.rounded {
  border-radius: 0.3em !important;
}
.bg-success-to-primary-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18bc9c+0,2c3e50+100 */
  background: $success; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    $success 0%,
    $primary 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    $success 0%,
    $primary 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    $success 0%,
    $primary 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$success}', endColorstr='#{$primary}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* Shadows - from getmdl.io */
.focus-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.shadow-3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.shadow-6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.shadow-8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.shadow-16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.shadow-24dp {
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14),
    0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}
// Navbar
.navbar-floating {
  @extend .shadow-4dp;
  z-index: 1100;
  background-color: $success;
}
